<article class="white_background" id="featured_press_release" data-id="#{press_release.id}">
  <div class="row">
    <div class="default_content_block">
      <a href=<%= pressroom_path(press_release.id, to_slug(press_release.title)) %>>
        <h4 class="pressroom-month"><%= Date.parse(press_release.release_date).strftime('%d %B, %Y') %></h4>
        <h2><%= press_release.title %></h2>
        <p><%= press_release.summary %></p>
      </a>
      <a class="medium white button radius text-center" href=<%= pressroom_path(press_release.id, to_slug(press_release.title)) %>><%= t('press_release.read') %></a>
    </div>
  </div>
</article>
